@use '../../styles/mixins.scss' as mixins;

.section-keypoint-container {
  width: 33.33%;
  padding: 0 40px 0 5px;

  .icon-container {
    height: 32px;
    width: 32px;
    overflow: hidden;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .text-content-container {
    h4 {
      @include mixins.txt-xl;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p {
      @include mixins.txt-md;
      margin: 0;
      word-wrap: break-word;
    }
  }
}
